# Server Configuration
PORT=3000
NODE_ENV=development

# OpenAI Configuration
OPENAI_API_KEY=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
# Pinecone Configuration
PINECONE_API_KEY=pcsk_3aC8GW_AAANXzYubkBr7aioZgoPwxr4RTKXUQh9zFSF32V9znrLkQdJ4xcpzWwmT458YCF
PINECONE_INDEX=ai-assistant-docs

# MongoDB Configuration
MONGODB_URI=mongodb+srv://user:xebK7ij9d50Ki5Ep@cluster0.7qmmbmw.mongodb.net/

# Valkey (Redis) Configuration
VALKEY_HOST=localhost
VALKEY_PORT=6379
VALKEY_PASSWORD=
VALKEY_DB=0
VALKEY_TTL=3600
